<!-- Hizmetlerimiz Başlangıç -->

<section id="hizmetler" class="hizmetler layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container">
                <h2>
                    Hizmetlerimiz
                </h2>
                <p>
                    Araç Bakımında Profesyonel Eller, Sorunsuz Sürüşler...
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/template/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Eksiksiz Bakım ve Onarım Hizmetleri
                            </h5>
                            <p>
                                Aracınızın ihtiyaç duyduğu her türlü bakım ve onarım işlemleri için profesyonel ekibimiz hazır. Motor, şanzıman, frenler ve daha fazlası için güvenilir çözümler sunuyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/template/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Detaylı Araç Temizliği ve Cila İşlemleri
                            </h5>
                            <p>
                                Aracınızın dış ve iç detaylı temizliği ile birlikte özel cila işlemleriyle aracınızı ilk günkü gibi parlatıyoruz. Her detayı özenle ele alarak aracınıza yeni bir görünüm kazandırıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/template/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Lastik ve Akü Kontrolü, Değişimi ve Dengeleme
                            </h5>
                            <p>
                                Güvenli sürüş için lastiklerinizin ve akünüzün düzenli kontrolü çok önemlidir. Uzmanlarımız, lastik ve aküdeki sorunları tespit eder, gerekirse değişim ve dengeleme işlemlerini gerçekleştirir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/template/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Otomobil Elektrik ve Elektronik Sistem Bakımı
                            </h5>
                            <p>
                                Aracınızın tüm elektronik bileşenlerini güncel teknolojiyle uyumlu bir şekilde kontrol ediyor ve gerekli düzenlemeleri yapıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hizmetlerimiz Sonu -->
<!-- Vizyon başlangıç -->

<section id="hakkinda" class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Vizyonumuz
                        </h2>
                    </div>
                    <p>
                        Vizyonumuz, müşterilerimize en yüksek kalitede ve güvenilir hizmet sunarak otomotiv bakım ve onarım sektöründe lider bir marka olmaktır.
                        Teknoloji ve müşteri memnuniyetini ön planda tutarak, araç sahiplerinin ihtiyaçlarına hızlı, güvenilir ve sürdürülebilir çözümler sunmayı hedefliyoruz.
                        Müşterilerimize sunduğumuz hizmetin kalitesiyle tanınan, yenilikçi ve güvenilir bir otomobil tamir merkezi olmayı amaçlıyoruz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="img-box">
                    <img src="~/template/images/vizyon.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Vizyon Sonu -->
<!-- Misyon başlangıç -->

<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Misyonumuz
                        </h2>
                    </div>
                    <p>
                        Misyonumuz, araç sahiplerinin güvenliği ve memnuniyetini ön planda tutarak, yüksek kaliteli otomotiv bakım ve onarım hizmetleri sunmaktır.
                        Müşterilerimizin zamanına ve ihtiyaçlarına saygı duyarak, randevu ve stok yönetim sistemlerimizi dijitalleştirerek hizmetlerimizi kolay erişilebilir ve kullanıcı dostu hale getiriyoruz.
                        Profesyonel ve eğitimli kadromuzla, en son teknolojileri kullanarak her türlü araç bakım ve onarım ihtiyacını karşılamayı taahhüt ediyoruz.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/template/images/misyon.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Misyon Sonu -->
<!-- Ürünler Başlangıç -->

<section id="Urun" class="project_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Ürünler
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="filter_box">
                <h6>
                    Kategori Filtreleri
                </h6>
                <nav class="owl-filter-bar">
                    <a href="#" class="item active" data-owl-filter="*">HEPSİ</a>
                    <a href="#" class="item" data-owl-filter=".motoryagi">Motor Yağı</a>
                    <a href="#" class="item" data-owl-filter=".fren">Fren İhtiyaçları</a>
                    <a href="#" class="item" data-owl-filter=".antifriz">Antifriz </a>
                    <a href="#" class="item" data-owl-filter=".filtreler">Filtreler </a>
                    <a href="#" class="item" data-owl-filter=".buji">Buji </a>
                </nav>
            </div>

            <div class="owl-carousel project_carousel">
                <div class="item motoryagi">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/motoryagi.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Motor Yağı
                            </h5>
                            <p>
                                Motor yağı motorun soğumasına da yardımcı olur ve motorunun sorunsuz çalışması için oldukça önemlidir. Ayrıca aşınmayı ve yıpranmayı azaltmak için motoru korur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item fren">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/frenbalatasi.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Fren Balatası
                            </h5>
                            <p>
                                Fren balatası, araçların fren sisteminin kritik bir parçasıdır.
                                Sürüş güvenliği açısından büyük bir öneme sahiptir. Bu parçalar, aracın hızını azaltarak durmasını sağlar ve güvenli bir sürüş deneyimi sunar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item fren">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/frendiski.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Fren Diski
                            </h5>
                            <p>
                                Fren sistemini oluşturan parçalar, aracınızın güvenli bir şekilde durmasını sağlar.
                                Aşınan diskler ve balatalar, aracı istediğiniz şekilde yavaşlatmak veya durdurmak için yeterli sürtünme ya da durdurma gücü üretemez.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item antifriz">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/antifriz.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Antifriz
                            </h5>
                            <p>
                                Sürekli olarak bakım ve koruma gerektiren araçlar için çeşitli ürünler bulunur.
                                Antifriz ise özellikle kış aylarında popülaritesi artan bir ürün olarak öne çıkar.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item filtreler">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/havafiltresi.png" alt="" />

                        </div>
                        <div class="detail-box">
                            <h5>
                                Hava Filtresi
                            </h5>
                            <p>
                                Araba hava filtresi, yakıtın tepkimeye girebilmesi için gerekli havayı süzme görevini üstleniyor.
                                Dolayısıyla kolay bulunabilen ve görece ekonomik fiyatlı olmasına rağmen motorun en önemli parçaları arasında sayılıyor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item filtreler">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/yagfiltresi.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Yağ Filtresi
                            </h5>
                            <p>
                                Yağ filtresi görevi, motorun içindeki sürtünmeyi azaltmak, aşınmayı önlemek ve sıcaklığı dengelemek için çok önemlidir.
                                Kirler motor parçaları arasında sürtünmeye ve aşınmaya neden olabilir ve motorun performansını azaltabilir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item buji">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/images/buji.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Buji
                            </h5>
                            <p>
                                Buji, içten yanmalı bir motorun önünde bulunan ve motordaki yakıt-hava karışımını ateşlemek için kullanılan bir cihazdır.
                                Buji, motor silindirlerindeki yakıt-hava karışımını ateşleyen bir kıvılcım oluşturarak ortaya çıkan elektrik akımı ile ateşleme sistemine güç vermek için kullanılır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ürünler Bitişi -->

<!-- Neden Seçmelisin Başlangıç -->

<section class="why_us_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Neden bizi Seçmelisiniz?
            </h2>
        </div>
        <div class="why_us_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        1.	Müşteri Odaklılık
                    </h5>
                    <p>
                        Müşterilerimizin memnuniyeti bizim önceliğimizdir. İhtiyaçlarına en uygun çözümleri sunmak için çalışıyoruz.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        2.	Güvenilirlik
                    </h5>
                    <p>
                        Hizmetlerimizi zamanında ve doğru bir şekilde sunarak müşterilerimizin güvenini kazanıyoruz.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        3.	Kalite
                    </h5>
                    <p>
                        En yüksek standartlarda hizmet sunmayı taahhüt ediyoruz. Kullandığımız parçalar ve ekipmanlar daima en yüksek kalitede.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        4.	Yenilikçilik
                    </h5>
                    <p>
                        Sürekli olarak hizmetlerimizi ve süreçlerimizi geliştirmek için yenilikçi çözümler arıyoruz.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        5.	Dürüstlük
                    </h5>
                    <p>
                        Şeffaf ve adil bir hizmet anlayışıyla çalışıyoruz. Müşterilerimize doğru bilgi ve dürüst tavsiyeler sunuyoruz.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/template/images/w1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        6.	Çevreye Duyarlılık
                    </h5>
                    <p>
                        Çevre dostu uygulamalar ve sürdürülebilirlik ilkeleri doğrultusunda çalışıyoruz.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Neden Seçmelisin Sonu -->

    <!-- jQery -->
    <script src="~/template/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/template/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!--  OwlCarousel 2 - Filter -->
    <script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
    <!-- custom js -->
    <script src="~/template/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->