@using Microsoft.AspNetCore.Http;  <!--Session işlemleri için using ve inject kullandık-->
@inject IHttpContextAccessor Accessor


<p>Siteye Hoşgeldin @Accessor?.HttpContext?.Session.GetString("KullaniciAdi")</p>
