@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

  <style>
        .quote_btn-container {
            display: flex;
            align-items: center;
        }
        .quote_btn {
            margin-right: 10px;
        }

        /* Custom Profile Menu */
    .profile-menu {
        position: relative;
        display: inline-block;
    }

    .profile-menu-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        min-width: 160px;
        text-align: center; /* Ortalayan stil */
        left: 50%;
        transform: translateX(-50%);
    }

        .profile-menu-content a {
            background-color: #f07b26; /* Arka plan rengi */
            color: white; /* Yazı rengi */
            padding: 5px 10px; /* Daha küçük padding */
            text-decoration: none;
            display: block;
            font-size: 12px; /* Daha küçük yazı */
            text-align: center; /* Metni ortalama */
        }

            .profile-menu-content a:hover {
                background-color: #f1f1f1;
            }

    .profile-menu:hover .profile-menu-content {
        display: block;
    }
    </style>
 <!-- header section strats -->
<header class="header_section">

    <div class="header_bottom">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-Marka" href="/Anasayfa/Index">
                    <img src="~/template/images/logomuz.png" alt="">
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    @if (ViewBag.girisBilgisi != null && ViewBag.girisBilgisi)
                    {
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Anasayfa/Index">ANASAYFA <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=#hizmetler>HİZMETLERİMİZ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=#hakkinda>HAKKIMIZDA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Urunler" asp-controller="Anasayfa">ÜRÜNLER</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Randevu" class="nav-link">RANDEVU İŞLEMİ</a>
                            </li>
                        </ul>
                        <div class="quote_btn-container">
                            <a asp-action="Index" asp-controller="bildirim" class="quote_btn btn btn-primary mr-2">
                                <i class="fa-solid fa-bell" style="color: #ffffff; margin-right:3px;"></i>
                                BİLDİRİMLER
                            </a>

                            <div class="profile-menu">
                                <button class="quote_btn btn btn-primary mr-2">
                                    <i class="fa-solid fa-kullanici" style="color: #ffffff; margin-right:3px;"></i>
                                    PROFİL
                                </button>
                                <div class="profile-menu-content">
                                    <a asp-action="Randevularim" asp-controller="Profil">Randevularım</a>
                                    <a asp-action="Araclarim" asp-controller="Profil">Araçlarım</a>
                                </div>
                            </div>

                            <a asp-action="Cikis" asp-controller="Giris" class="quote_btn">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                ÇIKIŞ YAP
                            </a>
                        </div>
                    }
                    else
                    {
                             <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Anasayfa/Index">ANASAYFA <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=#hizmetler>HİZMETLERİMİZ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=#hakkinda>HAKKIMIZDA</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=#Urun>ÜRÜNLER</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" asp-action="AdminGirisi" asp-controller="Giris">ADMİN GİRİŞİ</a>
                                </li>
                            </ul>
                            <div class="quote_btn-container">
                                <a href="/Giris/Index" class="quote_btn">
                                    GİRİŞ YAP
                                </a>
                            </div>
                    }
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- end header section -->
